a:any-link {
  color: #FF10F0;
  }

a:visited {
  color: #FF10F0;
  }

a:hover {
  color: #9D00FF;
  }

a:active {
  color: #FF10F0;
  }

.logo {
  width: 50%;
  max-width: 1000px;
  height: auto;
}

.leftcolumn { 
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: left;
  background: black;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

.neon {
  font-size:7vw;
  color: #FF10F0;
  text-shadow:
    0 0 5px #FF10F0,
    0 0 10px #FF10F0,
    0 0 20px #FF10F0,
    0 0 40px #FF10F0,
    0 0 80px #FF10F0,
    0 0 90px #FF10F0,
    0 0 100px #FF10F0,
    0 0 150px #FF10F0;
}



